<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.northbrain.common.security.com.northbrain.party.organization.com.northbrain.resource.basic.dao.AccessControlPOMapper">
  <resultMap id="BaseResultMap" type="com.northbrain.common.security.com.northbrain.party.organization.com.northbrain.resource.basic.po.AccessControlPO">
    <id column="access_control_id" jdbcType="INTEGER" property="accessControlId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="privilege_id" jdbcType="INTEGER" property="privilegeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
  </resultMap>
  <sql id="Base_Column_List">
    access_control_id, role_id, organization_id, privilege_id, status, create_time, status_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from access_control
    where access_control_id = #{accessControlId,jdbcType=INTEGER}
  </select>
  <select id="selectByRole" resultMap="BaseResultMap" statementType="STATEMENT">
    select
    <include refid="Base_Column_List" />
    from access_control
    where role_id = ${roleId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from access_control
    where access_control_id = #{accessControlId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.northbrain.common.security.com.northbrain.party.organization.com.northbrain.resource.basic.po.AccessControlPO">
    insert into access_control (access_control_id, role_id, organization_id, 
      privilege_id, status, create_time, 
      status_time)
    values (#{accessControlId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{organizationId,jdbcType=INTEGER}, 
      #{privilegeId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{statusTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.northbrain.common.security.com.northbrain.party.organization.com.northbrain.resource.basic.po.AccessControlPO">
    insert into access_control
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accessControlId != null">
        access_control_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="organizationId != null">
        organization_id,
      </if>
      <if test="privilegeId != null">
        privilege_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="statusTime != null">
        status_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accessControlId != null">
        #{accessControlId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null">
        #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="privilegeId != null">
        #{privilegeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.northbrain.common.security.com.northbrain.party.organization.com.northbrain.resource.basic.po.AccessControlPO">
    update access_control
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null">
        organization_id = #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="privilegeId != null">
        privilege_id = #{privilegeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where access_control_id = #{accessControlId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.northbrain.common.security.com.northbrain.party.organization.com.northbrain.resource.basic.po.AccessControlPO">
    update access_control
    set role_id = #{roleId,jdbcType=INTEGER},
      organization_id = #{organizationId,jdbcType=INTEGER},
      privilege_id = #{privilegeId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status_time = #{statusTime,jdbcType=TIMESTAMP}
    where access_control_id = #{accessControlId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.northbrain.common.security.com.northbrain.party.organization.com.northbrain.resource.basic.po.AccessControlPO">
    <id column="access_control_id" jdbcType="INTEGER" property="accessControlId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="privilege_id" jdbcType="INTEGER" property="privilegeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
  </resultMap>
  <sql id="Base_Column_List">
    access_control_id, role_id, privilege_id, status, create_time, status_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from access_control
    where access_control_id = #{accessControlId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from access_control
    where access_control_id = #{accessControlId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.northbrain.common.security.com.northbrain.party.organization.com.northbrain.resource.basic.po.AccessControlPO">
    insert into access_control (access_control_id, role_id, privilege_id, 
      status, create_time, status_time
      )
    values (#{accessControlId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{privilegeId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{statusTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.northbrain.common.security.com.northbrain.party.organization.com.northbrain.resource.basic.po.AccessControlPO">
    insert into access_control
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accessControlId != null">
        access_control_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="privilegeId != null">
        privilege_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="statusTime != null">
        status_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accessControlId != null">
        #{accessControlId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="privilegeId != null">
        #{privilegeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.northbrain.common.security.com.northbrain.party.organization.com.northbrain.resource.basic.po.AccessControlPO">
    update access_control
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="privilegeId != null">
        privilege_id = #{privilegeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where access_control_id = #{accessControlId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.northbrain.common.security.com.northbrain.party.organization.com.northbrain.resource.basic.po.AccessControlPO">
    update access_control
    set role_id = #{roleId,jdbcType=INTEGER},
      privilege_id = #{privilegeId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status_time = #{statusTime,jdbcType=TIMESTAMP}
    where access_control_id = #{accessControlId,jdbcType=INTEGER}
  </update>
</mapper>