<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.northbrain.relation.operationrecord.com.northbrain.party.organization.dao.OperationRecordDetailPOMapper">
  <resultMap id="BaseResultMap" type="com.northbrain.relation.operationrecord.com.northbrain.party.organization.model.po.OperationRecordDetailPO">
    <id column="record_detail_id" jdbcType="BIGINT" property="recordDetailId" />
    <result column="record_id" jdbcType="INTEGER" property="recordId" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="operate_type" jdbcType="VARCHAR" property="operateType" />
    <result column="com.northbrain.party.organization.domain" jdbcType="VARCHAR" property="com.northbrain.party.organization.domain" />
    <result column="service_name" jdbcType="VARCHAR" property="serviceName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
  </resultMap>
  <sql id="Base_Column_List">
    record_detail_id, record_id, rank, operate_type, com.northbrain.party.organization.domain, service_name, status, start_time,
    finish_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from operation_record_detail
    where record_detail_id = #{recordDetailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from operation_record_detail
    where record_detail_id = #{recordDetailId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.northbrain.relation.operationrecord.com.northbrain.party.organization.model.po.OperationRecordDetailPO">
    insert into operation_record_detail (record_detail_id, record_id, rank, 
      operate_type, com.northbrain.party.organization.domain, service_name,
      status, start_time, finish_time
      )
    values (#{recordDetailId,jdbcType=BIGINT}, #{recordId,jdbcType=INTEGER}, #{rank,jdbcType=INTEGER}, 
      #{operateType,jdbcType=VARCHAR}, #{com.northbrain.party.organization.domain,jdbcType=VARCHAR}, #{serviceName,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.northbrain.relation.operationrecord.com.northbrain.party.organization.model.po.OperationRecordDetailPO">
    insert into operation_record_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordDetailId != null">
        record_detail_id,
      </if>
      <if test="recordId != null">
        record_id,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="operateType != null">
        operate_type,
      </if>
      <if test="com.northbrain.party.organization.domain != null">
        com.northbrain.party.organization.domain,
      </if>
      <if test="serviceName != null">
        service_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordDetailId != null">
        #{recordDetailId,jdbcType=BIGINT},
      </if>
      <if test="recordId != null">
        #{recordId,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=VARCHAR},
      </if>
      <if test="com.northbrain.party.organization.domain != null">
        #{com.northbrain.party.organization.domain,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null">
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.northbrain.relation.operationrecord.com.northbrain.party.organization.model.po.OperationRecordDetailPO">
    update operation_record_detail
    <set>
      <if test="recordId != null">
        record_id = #{recordId,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="operateType != null">
        operate_type = #{operateType,jdbcType=VARCHAR},
      </if>
      <if test="com.northbrain.party.organization.domain != null">
        com.northbrain.party.organization.domain = #{com.northbrain.party.organization.domain,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null">
        service_name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where record_detail_id = #{recordDetailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.northbrain.relation.operationrecord.com.northbrain.party.organization.model.po.OperationRecordDetailPO">
    update operation_record_detail
    set record_id = #{recordId,jdbcType=INTEGER},
      rank = #{rank,jdbcType=INTEGER},
      operate_type = #{operateType,jdbcType=VARCHAR},
      com.northbrain.party.organization.domain = #{com.northbrain.party.organization.domain,jdbcType=VARCHAR},
      service_name = #{serviceName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP}
    where record_detail_id = #{recordDetailId,jdbcType=BIGINT}
  </update>
</mapper>