<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.northbrain.party.basic.dao.PartyDetailPOMapper">
  <resultMap id="BaseResultMap" type="com.northbrain.party.basic.model.po.PartyDetailPO">
    <id column="party_detail_id" jdbcType="INTEGER" property="partyDetailId" />
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="attribute" jdbcType="VARCHAR" property="attribute" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    party_detail_id, party_id, attribute, value, status, create_time, status_time, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from party_detail
    where party_detail_id = #{partyDetailId,jdbcType=INTEGER}
  </select>
  <select id="selectByAttribute" resultMap="BaseResultMap" statementType="STATEMENT">
    select distinct party_id
    from party_detail
    where attribute = ${idType} and value = ${idValue}
  </select>
  <select id="selectByPartyId" resultMap="BaseResultMap" statementType="STATEMENT">
    select
    <include refid="Base_Column_List" />
    from party_detail
    where party_id = ${partyId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from party_detail
    where party_detail_id = #{partyDetailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.northbrain.party.basic.model.po.PartyDetailPO">
    insert into party_detail (party_detail_id, party_id, attribute, 
      value, status, create_time, 
      status_time, description)
    values (#{partyDetailId,jdbcType=INTEGER}, #{partyId,jdbcType=INTEGER}, #{attribute,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{statusTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.northbrain.party.basic.model.po.PartyDetailPO">
    insert into party_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partyDetailId != null">
        party_detail_id,
      </if>
      <if test="partyId != null">
        party_id,
      </if>
      <if test="attribute != null">
        attribute,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="statusTime != null">
        status_time,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partyDetailId != null">
        #{partyDetailId,jdbcType=INTEGER},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="attribute != null">
        #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.northbrain.party.basic.model.po.PartyDetailPO">
    update party_detail
    <set>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="attribute != null">
        attribute = #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where party_detail_id = #{partyDetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.northbrain.party.basic.model.po.PartyDetailPO">
    update party_detail
    set party_id = #{partyId,jdbcType=INTEGER},
      attribute = #{attribute,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where party_detail_id = #{partyDetailId,jdbcType=INTEGER}
  </update>
</mapper>