<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.northbrain.product.course.dao.ChapterDetailPOMapper">
  <resultMap id="BaseResultMap" type="com.northbrain.product.course.model.po.ChapterDetailPO">
    <id column="chapter_detail_id" jdbcType="INTEGER" property="chapterDetailId" />
    <result column="chapter_id" jdbcType="INTEGER" property="chapterId" />
    <result column="attribute" jdbcType="VARCHAR" property="attribute" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="desciption" jdbcType="VARCHAR" property="desciption" />
  </resultMap>
  <sql id="Base_Column_List">
    chapter_detail_id, chapter_id, attribute, value, status, create_time, status_time, 
    desciption
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chapter_detail
    where chapter_detail_id = #{chapterDetailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from chapter_detail
    where chapter_detail_id = #{chapterDetailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.northbrain.product.course.model.po.ChapterDetailPO">
    insert into chapter_detail (chapter_detail_id, chapter_id, attribute, 
      value, status, create_time, 
      status_time, desciption)
    values (#{chapterDetailId,jdbcType=INTEGER}, #{chapterId,jdbcType=INTEGER}, #{attribute,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{statusTime,jdbcType=TIMESTAMP}, #{desciption,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.northbrain.product.course.model.po.ChapterDetailPO">
    insert into chapter_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chapterDetailId != null">
        chapter_detail_id,
      </if>
      <if test="chapterId != null">
        chapter_id,
      </if>
      <if test="attribute != null">
        attribute,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="statusTime != null">
        status_time,
      </if>
      <if test="desciption != null">
        desciption,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chapterDetailId != null">
        #{chapterDetailId,jdbcType=INTEGER},
      </if>
      <if test="chapterId != null">
        #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="attribute != null">
        #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="desciption != null">
        #{desciption,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.northbrain.product.course.model.po.ChapterDetailPO">
    update chapter_detail
    <set>
      <if test="chapterId != null">
        chapter_id = #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="attribute != null">
        attribute = #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="desciption != null">
        desciption = #{desciption,jdbcType=VARCHAR},
      </if>
    </set>
    where chapter_detail_id = #{chapterDetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.northbrain.product.course.model.po.ChapterDetailPO">
    update chapter_detail
    set chapter_id = #{chapterId,jdbcType=INTEGER},
      attribute = #{attribute,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      desciption = #{desciption,jdbcType=VARCHAR}
    where chapter_detail_id = #{chapterDetailId,jdbcType=INTEGER}
  </update>
</mapper>