<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.northbrain.product.course.dao.CoursePOMapper">
  <resultMap id="BaseResultMap" type="com.northbrain.product.course.model.po.CoursePO">
    <id column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="thumbnail" jdbcType="INTEGER" property="thumbnail" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="desciption" jdbcType="VARCHAR" property="desciption" />
  </resultMap>
  <sql id="Base_Column_List">
    course_id, name, grade, level, subject, thumbnail, status, create_time, status_time, desciption
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where course_id = #{courseId,jdbcType=INTEGER}
  </select>
  <select id="selectByStatus" resultMap="BaseResultMap" statementType="STATEMENT">
    select 
    <include refid="Base_Column_List" />
    from course
    where status = ${status}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course
    where course_id = #{courseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.northbrain.product.course.model.po.CoursePO">
    insert into course (course_id, name, grade, 
      level, subject, thumbnail, 
      status, create_time, status_time, 
      desciption)
    values (#{courseId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER}, #{subject,jdbcType=VARCHAR}, #{thumbnail,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{statusTime,jdbcType=TIMESTAMP}, 
      #{desciption,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.northbrain.product.course.model.po.CoursePO">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        course_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="subject != null">
        subject,
      </if>
      <if test="thumbnail != null">
        thumbnail,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="statusTime != null">
        status_time,
      </if>
      <if test="desciption != null">
        desciption,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null">
        #{thumbnail,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="desciption != null">
        #{desciption,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.northbrain.product.course.model.po.CoursePO">
    update course
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null">
        thumbnail = #{thumbnail,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="desciption != null">
        desciption = #{desciption,jdbcType=VARCHAR},
      </if>
    </set>
    where course_id = #{courseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.northbrain.product.course.model.po.CoursePO">
    update course
    set name = #{name,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      subject = #{subject,jdbcType=VARCHAR},
      thumbnail = #{thumbnail,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      desciption = #{desciption,jdbcType=VARCHAR}
    where course_id = #{courseId,jdbcType=INTEGER}
  </update>
</mapper>