<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.northbrain.product.course.dao.LessonPOMapper">
  <resultMap id="BaseResultMap" type="com.northbrain.product.course.model.po.LessonPO">
    <id column="lesson_id" jdbcType="INTEGER" property="lessonId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="chapter_id" jdbcType="INTEGER" property="chapterId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="res_id" jdbcType="INTEGER" property="resId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    lesson_id, name, chapter_id, status, res_id, create_time, status_time, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lesson
    where lesson_id = #{lessonId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lesson
    where lesson_id = #{lessonId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.northbrain.product.course.model.po.LessonPO">
    insert into lesson (lesson_id, name, chapter_id, 
      status, res_id, create_time, 
      status_time, description)
    values (#{lessonId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{chapterId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{resId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{statusTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.northbrain.product.course.model.po.LessonPO">
    insert into lesson
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lessonId != null">
        lesson_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="chapterId != null">
        chapter_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="resId != null">
        res_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="statusTime != null">
        status_time,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lessonId != null">
        #{lessonId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="chapterId != null">
        #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="resId != null">
        #{resId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.northbrain.product.course.model.po.LessonPO">
    update lesson
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="chapterId != null">
        chapter_id = #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="resId != null">
        res_id = #{resId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where lesson_id = #{lessonId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.northbrain.product.course.model.po.LessonPO">
    update lesson
    set name = #{name,jdbcType=VARCHAR},
      chapter_id = #{chapterId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      res_id = #{resId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where lesson_id = #{lessonId,jdbcType=INTEGER}
  </update>
</mapper>