<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.northbrain.party.organization.com.northbrain.resource.basic.dao.SubjectionPOMapper">
  <resultMap id="BaseResultMap" type="com.northbrain.party.organization.com.northbrain.resource.basic.po.SubjectionPO">
    <id column="subjection_id" jdbcType="INTEGER" property="subjectionId" />
    <result column="party_id" jdbcType="INTEGER" property="partyId" />
    <result column="entity_id" jdbcType="INTEGER" property="entityId" />
    <result column="com.northbrain.resource.basic.domain" jdbcType="VARCHAR" property="com.northbrain.resource.basic.domain" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status_time" jdbcType="TIMESTAMP" property="statusTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    subjection_id, party_id, entity_id, com.northbrain.resource.basic.domain, category, type, status, create_time,
    status_time, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from subjection
    where subjection_id = #{subjectionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from subjection
    where subjection_id = #{subjectionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.northbrain.party.organization.com.northbrain.resource.basic.po.SubjectionPO">
    insert into subjection (subjection_id, party_id, entity_id, 
      com.northbrain.resource.basic.domain, category, type,
      status, create_time, status_time, 
      description)
    values (#{subjectionId,jdbcType=INTEGER}, #{partyId,jdbcType=INTEGER}, #{entityId,jdbcType=INTEGER}, 
      #{com.northbrain.resource.basic.domain,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{statusTime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.northbrain.party.organization.com.northbrain.resource.basic.po.SubjectionPO">
    insert into subjection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subjectionId != null">
        subjection_id,
      </if>
      <if test="partyId != null">
        party_id,
      </if>
      <if test="entityId != null">
        entity_id,
      </if>
      <if test="com.northbrain.resource.basic.domain != null">
        com.northbrain.resource.basic.domain,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="statusTime != null">
        status_time,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subjectionId != null">
        #{subjectionId,jdbcType=INTEGER},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=INTEGER},
      </if>
      <if test="entityId != null">
        #{entityId,jdbcType=INTEGER},
      </if>
      <if test="com.northbrain.resource.basic.domain != null">
        #{com.northbrain.resource.basic.domain,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.northbrain.party.organization.com.northbrain.resource.basic.po.SubjectionPO">
    update subjection
    <set>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=INTEGER},
      </if>
      <if test="entityId != null">
        entity_id = #{entityId,jdbcType=INTEGER},
      </if>
      <if test="com.northbrain.resource.basic.domain != null">
        com.northbrain.resource.basic.domain = #{com.northbrain.resource.basic.domain,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusTime != null">
        status_time = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where subjection_id = #{subjectionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.northbrain.party.organization.com.northbrain.resource.basic.po.SubjectionPO">
    update subjection
    set party_id = #{partyId,jdbcType=INTEGER},
      entity_id = #{entityId,jdbcType=INTEGER},
      com.northbrain.resource.basic.domain = #{com.northbrain.resource.basic.domain,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status_time = #{statusTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where subjection_id = #{subjectionId,jdbcType=INTEGER}
  </update>
</mapper>